@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --content-font-size: var(--font-size-medium);
  --bg-color: #fff;
  --text-color: rgba(0, 0, 0, 0.88);
  --border-color: #f0f0f0;
}

[data-theme='dark'] {
  --bg-color: #141414;
  --text-color: rgba(255, 255, 255, 0.85);
  --border-color: #303030;
}

body {
  font-size: var(--content-font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
